/* Style para reservar un turno  */
body {
  background-color: #f8f9fa;
  padding-top: 70px; /* espacio para la navbar fija */
  font-family: Arial, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

#formulario {
  max-width: 600px;
  margin: 0 auto;
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid white;
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

#fecha {
  background-color: #f1f1f1;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}

button[type="submit"]:hover {
  background: #0056b3;
}
